#mainContainer {
	background-color: #1b2331; /*WILL NEED TO FIX THIS AS SLIDE WORKS*/
	/*z-index: 0; not getting this top slide until AFTER the background img for some reason*/
}

#bgContainer {
	background-image: url(../img/LightBulb.jpg); 
	width: 100%;
	height: 90%;
	background-size: 100% auto;  /*why does this go squirrely when height=100%*/
	background-repeat: no-repeat;
	background-attachment: fixed;
	/*position: fixed;*/
	overflow: scroll;
	z-index: -1;
}

#bgSlide {
	background-image: url(../img/TopSlide1.jpg);
	width: 100%;
	background-size: 100% auto;  /*why does this go squirrely when height=100%*/
	background-attachment: fixed;
	overflow: scroll;
	z-index: -1;
}

#bgPost {
	position: relative;
	width:100%;
}

#bgPost img {
	width: 100%;
}

#bgPost .stickIt {
	float: left;
	/*position:absolute;*/
	bottom: 50px;
	width: 100%;
}

#mainContainer, #bgContainer {
	width: 100%;
	top: 0;
	left: 0;
}

/*******
ELEMENTS
********/

h1 {
	margin-left: 5%;
	margin-top: 1%;
	color: #f0f481;
	font-weight: bold;
	float:left;
}

h1 a {
	color: #f0f481;
}

h2 {
	text-align: center;
	/*font-family: 'Patrick Hand SC', cursive;*/
	font-weight: bold;
	color: #1b2331;
	/*transition: color 2.5s ease;*/
	font-size: 1.5em;
	/*margin-top: 5%;*/
	margin-bottom: 5%;
}

h3 {
	text-align: center;
}

ul, body {
	color: white;
	font-family: 'Open Sans', sans-serif;
	list-style-type: none;
}

#mainMenu a {
	color: white;
}

/*#mainMenu:hover {
	color: #75b3d7;
*/	/*color: #d478e5; pink
	/*width: 65%;*/
	/*margin-left: 35%;*/
	/*background-color: #100d1e;*/
/*}*/

#mainMenu ul {
	list-style-type: none;
	float: right;
	padding: 0;
	margin-top: 7%;
	margin-bottom: 3%;
}

a {
	text-decoration: none;
}

#mainMenu a:hover, li:hover, li:active, #bContact a:hover {
	color: #75b3d7;
	cursor: pointer;
	text-decoration: none;
}

li {
	float: left;
	margin: 10px 60px;
}

.clear{
	clear: both;
}

#mainText, #mainTextTry {
	width: 40%;
	margin-left: 5%;
}

#mainTextTry {
	float: left;
	text-shadow: 2px 2px 2px #1b2331;
}

#imgTry {
	float: right;
	width: 40%;
	max-height: 700px;
	margin-top: 10%;
	margin-right: 5%;
	padding-bottom: 3%;
}

#captionForm {
	margin-top: 25%;
}

#oldCaption {
	width: 40%;
}

 #messageArea {
 	margin-right: 10%;
 }

 #oldCaption, #messageArea {
	margin-left: 56%;
	padding-bottom: 5%;
	color: #f0f481;
	text-shadow: 2px 2px 2px #1b2331;
}

body {
	
	font-size: 1.5em;
	margin: 0;
}

button {
	line-height: 1em;
	font-size: 1em;
	color: #1b2331;
	border-radius: 5px;

}
/*******
INPUT
********/

input {
	border-radius: 5px;
	line-height: 1em;
}

input[type=textarea], [type=text]{
	font-size: 1em;
	color: #1b2331;

}

 #emailBox {
	text-align: left;
	vertical-align: top;
	font-size: 1em;

}

#bContact {
	text-align: right;
	margin-right: 5%;
	color: #f0f481;
	text-shadow: 2px 2px 2px #1b2331;
	
}

#bContact a {
	color: #f0f481;
}
/*
#bContact a:hover{
	color: #75b3d7;
}*/

#captionBtn {
	margin-left: 38%;
}

#postEmail {
	margin-top: 0%;
	text-align: center;
}

.hide {
	visibility: none;
}

.show {
	visibility: visible;
}

form {
  padding-top: 5%;
  padding-bottom: 5%;
  transition: background-color 3s ease;
  background-color: #f7f064;
  /*visibility: hidden;*/

}

form:hover {
  background-color: #1b2331;
  /*visibility: visible;*/
}

#postItBtn {
	width: 30em;
	line-height: 1em;
	text-align: left;
	border-radius: 5px;
}

textarea {
	height:400px;
	font-size:1em;
}

/*******
FOOTER
*******/


footer a{
	margin-left: auto;
	margin-right: auto;
	color: #1b2331;
}

footer a:hover {
	color: #75b3d7;

}

footer ul {
	clear: both;
	color: #1b2331;
}

@media screen and (max-width: 768px){
	
	#bgContainer {
		height: 60%;
	}

	#mainMenu li {
		display:block;
		font-size: 1.25em;
		text-shadow: 2px 2px 2px #1b2331;
	}

	li {
		margin-left: 40px;
		margin-right: 40px;

	}

	#mainText {
		width: 60%;
	}

	.bottomBtn{
		font-size: 1.5em;
	}

	footer {
		display:block;
		font-size: 1.25em;
	}
}

@media only screen and (min-width: 320px) and (max-width: 480px){

	#mainContainer {
		width: 100%;
		background-repeat: no-repeat;
	}

	#mainMenu li {
		display:block;
		font-size: 1.25em;
		text-shadow: 2px 2px 2px #1b2331;
	}

	#mainText, #mainTextTry {
		width:90%;
		clear: both;
	}

	img#imgTry {
		clear: both;
		width: 90%;
		margin-left: 5%;
	}

	#oldCaption, #messageArea {
		margin-left: 5%;
		width: 90%;
	}

	.bottomBtn {
		margin-left: 15%;
		font-size: 2em;
	}

	#postItBtn {
		width: 81%;
	}

	footer{
		text-shadow: 2px 2px 2px white;

	}

}

